<ul class="menu rounded-box">
  <% @notebooks.each do |notebook| %>
    <li>
      <%= link_to(edit_notebook_path(notebook)) do %>
        <%= notebook.name %>
      <% end %>
    </li>
  <% end %>
</ul>
