<p>
Proxima is the essential note application for creative work.
Here is a brief guide for this application:

<ol>
  <li>
    <%= link_to(ideas_path) do %>
      list out things you like or ideas of things you want to draw.
    <% end %>
  </li>
<li>Choose a theme from your ideas.</li>
<li>Start your project.</li>
</ol>
</p>
