<p>
Proxima is the essential note application for creative work.
Here is a brief guide for this application:

<ol>
  <li>
    <%= link_to(dots_path) do %>
      list out things you like or dots of things you want to draw.
    <% end %>
  </li>
  <li>
    <%= link_to(new_project_path) do %>
      Decide on a theme from your dots and start your project.
    <% end %>
  </li>
<li></li>
</ol>
</p>
