<div class="btm-nav lg:hidden">
  <% menu_items.each do |menu_item| %>
    <%= link_to(menu_item.path, class: menu_item.active? ? "active" : "") do %>
      <%= render('shared/icon', type: menu_item.icon) %>
      <span class="btm-nav-label">
        <%= menu_item.name %>
      </span>
    <% end %>
  <% end %>
</div>
