<div class="breadcrumbs text-sm">
  <ul>
    <% breads.each do |bread| %>
      <li>
        <%= link_to(bread.path) do %>
          <small><%= render(IconComponent.new(bread.icon)) %></small>
          <%= bread.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
