<nav class="navbar hidden lg:flex">
  <div class="flex-1">
    <%= link_to(root_path, class: "btn btn-ghost text-xl") do %>
      Proxima
    <% end %>
  </div>

  <div>
    <ul class="menu menu-horizontal z-[1]">
    <% menu_items.each do |menu_item| %>
      <li>
        <%= link_to(menu_item.path) do %>
          <%= render('shared/icon', type: menu_item.icon) %>
          <%= menu_item.name %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>
