<%= form_with(model: @workspace) do |f| %>
  <div>
    <div>name: <%= f.text_field(:name) %></div>
    <div>display order: <%= f.number_field(:display_order) %></div>
    <div><%= f.submit %></div>
  </div>
<% end %>
