<ul class="menu rounded-box">
  <% @workspaces.each do |workspace| %>
    <li>
      <%= link_to(workspace.name, edit_workspace_path(workspace)) %>
      <ul>
        <li><%= link_to('Ideas', ideas_path) %></li>
        <ul>
          <% workspace.ideas.each do |idea| %>
            <li><%= link_to(idea.content.truncate(40), edit_idea_path(idea)) %></li>
          <% end %>
        </ul>
        <!-- <li>characters</li>
             <ul>
             <li>1</li>
             <li>2</li>
             </ul> -->
      </ul>
    </li>
  <% end %>
</ul>
