<div class="p-4">
  <%= render(BreadcrumbsComponent.new(current_notebook: @page.notebook, current_page: @page, bread_keys: [:notebooks_bread, :pages_bread, :edit_page_bread])) %>

  <%= render('form') %>
</div>
